.main_icon{
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}

.text_align_bottom{
    vertical-align: bottom;
}

.footer-text-align-left{
    text-align: left;
}


.map-info-box {
    margin-top: 40px;
    text-align: left;
    font-size: initial;
    font-family: 'Merriweather Sans';
    color: #dbdbdb;
    letter-spacing: 2px;
    word-spacing: 5px;
}


.map-info-box .sp-margin-1{
    position: absolute;
    margin-left: 2px;
}

.map-info-box .sp-margin-2{
    position: absolute;
    margin-left: 90px;
}

.map-info-box .sp-margin-3{
    position: absolute;
    margin-left: 120px;
}